body {
    font-family: 'open sans';
    margin: 0;
    padding: 0;
}
/* HEADER*/

header {
  height: 80px;
}
.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #000000;
}
.header--imagen{
  height:80px;
}
.header--imagen img{
  height: 100%;
}
.header--textos{
  display: none;
  flex-direction: column;
  width: 70%;
  justify-content: center;
  align-items: center;
}
.header--text{
  width: 50%;
  height: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-right: 120px;
  border-right: 1px solid white;
}
.header--text__h2 h2{
    font-size: 20px;
    color: white;
}
.header--text__h2:hover{
  cursor:pointer;
  border-bottom: 1px solid white;
}
.header--sesion{
  width: 300px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 50px;
}
.header--sesion__registrate h2{
  color: white;
}
.header--sesion__iniciar{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 40px;
  font-size: 15px;
  background-color:#FFCC80;
}
.header--sesion__iniciar h2,
.header--sesion__registrate h2{
  font-size: 20px;
}
.header--sesion__iniciar ,
.header--sesion__registrate:hover{
  border-bottom: 1px solid white;
  cursor: pointer;
}
.header--sesion__iniciar:hover{
  background-color: #FFB74D;
}
.menu--toggle{
  display: none;
}

.menu--toggle:hover{
  cursor: pointer;
  background-color: #757575 ;
}


.contenedor {
    padding: 60px 0;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}

.titulo {
    color: #32406F;
    font-size: 30px;
    font-family: 'Copperplate', Copperplate Gothic Light, fantasy;
    text-align: center;
    margin-bottom: 70px;
}

/* About us */
.main{
  margin-left: 8%;
  width: 85%;
  background-color: #FBEEE6 ;
}

main .sobre-nosotros{
  display: flex;
  justify-content: space-between;
  padding: 50px 0 40px 0;
}


.contenedor-sobre-nosotros{
    display: flex;
    justify-content: space-evenly;
}

.imagen-about-us{
    width: 48%;
}

.sobre-nosotros .contenido-textos{
    width: 48%;
}

.contenido-textos h3{
    margin-bottom: 15px;
}

.contenido-textos h3 span{
    background: rgb(45, 27, 204);
    color: #fff;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    width: 30px;
    height: 30px;
    padding: 2px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
    margin-right: 5px;
}

.contenido-textos p{
    padding: 0px 0px 30px 15px;
    font-weight: 300;
    text-align: justify;
}

/* Galeria */


.materias{
    background: #f2f2f2;
}

.galeria-port{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.imagen-port{
    width: 24%;
    margin-bottom: 10px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
}

.imagen-port > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.hover-galeria{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    transform: scale(0);
    background: hsla(273,91%,27%, 0.7);
    transition: transform .5s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hover-galeria img{
    width: 50px;
}

.hover-galeria p{
    color: #fff;
}

.imagen-port:hover .hover-galeria{
    transform: scale(1);
}


/* footer */

footer{
    background: #414141;
    padding: 40px 0 10px 0;
    margin: auto;
    overflow: hidden;
}

.contenedor-footer{
  display: flex;
  width: 95%;
  justify-content: space-evenly;
  margin: auto;
  padding-bottom: 50px;
  border-bottom: 1px solid #ccc;
}

.content-foo{
    text-align: center;
    width: 200px;
}
.content-foo:hover{
  cursor: pointer;
  background-color:#616161  ;
}


.content-foo h4{
    color: #fff;
    border-bottom: 3px solid #af20d3;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.content-foo p{
    color: #ccc;
}

.titulo-final{
    text-align: center;
    font-size: 24px;
    margin: 20px 0 0 0;
    color: #9e9797;
}

@media screen and (max-width:900px){
    header{
        background-position: center;
    }
    .header--text{
      display: none;
    }
    .header--sesion{
      display: none;
    }
    .menu--toggle{
      display: inline;
      margin-right: 20px;
    }
    .main{
      background-color: white;
      margin-left: 0;
      width: 100%;
    }

    .contenedor-sobre-nosotros{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .sobre-nosotros .contenido-textos{
        width: 90%;
    }

    .imagen-about-us{
        width: 90%;
    }

    /* Galeria */

    .imagen-port{
        width: 44%;
    }





    /* Galeria */

    .imagen-port{
        width: 95%;
    }

     /* Footer */

     footer{
         background: #414141;
         padding: 40px 0 10px 0;
         margin: auto;
         overflow: hidden;
     }

     .contenedor-footer{
       display: flex;
       align-items: center;
       width: 100%;
       justify-content: space-evenly;
       margin: auto;
       padding-bottom: 50px;
       border-bottom: 1px solid #ccc;
     }

     .content-foo{
       width: 95%;
       text-align: center;
     }

     .content-foo h4{
         color: #fff;
         border-bottom: 3px solid #af20d3;
         padding-bottom: 5px;
         margin-bottom: 10px;
     }

     .content-foo p{
         color: #ccc;
     }

     .titulo-final{
         text-align: center;
         font-size: 24px;
         margin: 20px 0 0 0;
         color: #9e9797;
     }
    .contenedor-footer{
        flex-direction: column;
        border: none;
    }

    .content-foo{
        margin-bottom: 20px;
        text-align: center;
    }

    .content-foo h4{
        border: none;
    }

    .content-foo p{
        color: #ccc;
        border-bottom: 1px solid #f2f2f2;
        padding-bottom: 20px;
    }

    .titulo-final{
      margin-top: -20px;
        font-size: 20px;
    }
}
